.text-center {
    top: 10px;
    width: 100%;
    text-align: center;
}

.hidden {
    display: none;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.text {
    display: flex;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
}